body{
    background:#FADBD8;
    font-family: sans-serif;   
    margin: 5px;
    background-image: url(../img/imagenchaco.png);
    opacity: 1;
}

#titulo{
    background-color: blueviolet;
    color: rgb(17, 8, 26);
    font-size: 350%;
    text-decoration:underline;
    text-align: center;
    font-family: 'Quattrocento Sans', sans-serif;
    opacity: 10;
}
.receta{
    background-color: blueviolet;
    color: rgb(17, 8, 26);
    font-family: 'Courier New', Courier, monospace;
    text-decoration:underline;
    font-size: 250%;
    text-align: center;
    opacity: 1;
}
.prepa{
    background-color: blueviolet;
    color: rgb(17, 8, 26);text-indent: 8em;
    text-align: justify;
    font-size: 200%;
    text-decoration: underline;
    font-family: 'Quattrocento Sans', sans-serif;
    opacity: 1;
}
.texto{
    text-align: center;
    text-indent: 10%;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Quattrocento Sans', sans-serif;
    opacity: 1;
}
.img{
    justify-content: center;
    height: 300px;
    width: 500px;
    opacity: 1;
}
.lista{
    font-size: 150%;
    font-weight: 600;
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-family: 'Quattrocento Sans', sans-serif;
    opacity: 1;
}
.contenedor{
   display: flex;
   margin: 0.2em;
   padding: auto;
   opacity: 1;
    
}
.frame{
    margin: 0.1em;
    padding: 0.1em;
    height: 530;
    width: 315;
    opacity: 1;
    
}
.copy{
    text-align: right;
    font-family: 'Quattrocento Sans', sans-serif;
    opacity: 1;
}
a{
    opacity: 1;
}