@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Rubik+Microbe & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

@font-face {
    font-family: verdana1;
    src: url("../font/verdana.ttf")format("truetype");
}

body {
    background: #FADBD8;
    font-family: sans-serif;
    margin: 5px;
    background-image: url(../img/puente.jpg);
    background-repeat: repeat;
    padding: 5px;

}

.titulo {
    background-color: blueviolet;
    color: rgb(17, 8, 26);
    font-size: 300%;
    text-decoration: underline;
    text-align: center;
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    display: flex;

}

.receta {
    background-color: blueviolet;
    color: rgb(17, 8, 26);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    font-size: 250%;
    text-align: center;
   
}

.prepa {
    background-color: blueviolet;
    color: rgb(17, 8, 26);
    text-indent: 8em;
    text-align: justify;
    font-size: 200%;
    text-decoration: underline;
    font-family: 'Quattrocento Sans', sans-serif;
    
}

.texto {
    text-align: center;
    text-indent: 10%;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Quattrocento Sans', sans-serif;
    
}

.img {
    justify-content: center;
    display: flex;
    width: 40vw;

}

.lista {
    font-size: 150%;
    font-weight: 400;
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-family: 'Archivo Narrow', sans-serif;


}

.contenedor {
    display: flex;
    margin: 0.2em;
    padding: auto;
}

.frame {
    margin: 0.1em;
    padding: 0.1em;
    height: 40vh;
    width: 35vw;
    display: flex;

}

a {
    text-align: center;   
}

.nave {
    display: flex;
    margin-top: auto;
    padding: 10px;
    border: 1px black solid;
    justify-content: space-between;
}

.empa {
    display: flex;
    padding: 5px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: azure;
}

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2px;
    align-items: center;
    background-color: black;
}

.logo {
    width: 5vw;
    display: flex;
    border-radius: 20%;
    justify-content: center;
}

.what {
    width: 4vw;
    position: fixed;
    bottom: 10px;
    right: 15px;
    border-radius: 50%;
    display: flex;
}

.icon {
    width: 4vw;   
}

.icon:hover {
    width: 5vw;
    background-color: black;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: azure;
    padding: 5px;
}

.sobremi {
    color: #56083f;
    margin-right: 5px;
}

.empa:hover {
    background-color: rgb(13, 13, 13);
    color: rgb(240, 231, 240);

}

.arg{
    border-radius: 50%;
 }

 /* Para celular */
@media(max-width: 575px) {
    body {
        background-image: none;
        background-color:white;
        color: blueviolet;
        margin: 5px;
        padding: 5px;  
             
    }
    .titulo{
        font-family: 'Rubik Microbe', cursive;
        font-size: 250%;
        text-align: center;
        background-color: black;
        color: blueviolet;
    }
    .receta{
        font-family: 'Rubik Microbe', cursive;
        font-size: 150%;
        text-align: center;
        background-color: black;
        color: blueviolet;
        
    }
    .prepa{
        font-family: 'Rubik Microbe', cursive;
        font-size: 150%;
        text-align: right;
        background-color: black;
        color: blueviolet;
    }
    .texto{
        font-family: 'Rubik Microbe', cursive;
        font-size: 100%;
    }
    .lista{
        font-family: 'Rubik Microbe', cursive;
        font-size: 100%;
        text-align: left;
        
    }
    .nave{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    .empa{
        font-family: 'Rubik Microbe', cursive;
        background-color: rgb(136, 87, 148);
        color: rgb(39, 2, 74);
        font-weight: bold;
    }
    .arg {
        display: none;
    }
    .logo {
        width: 10%;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }

 }


/*tablets*/
 @media(min-width: 576px)and(max-width: 991px){
    body {
        background-image: none;
        background-color:rgb(73, 1, 55);
        color: blueviolet;
        margin: 5px;
        padding: 5px;  
             
    }
    .titulo{
        font-family: 'Nerko One', cursive;
        font-size: 250%;
        text-align: center;
        background-color: black;
        color: blueviolet;
    }
    .logo{
        display: none;
    }

    .receta{
        font-family: 'Nerko One', cursive;
        font-size: 250%;
        text-align: center;
        background-color: black;
        color: blueviolet;
        
    }
    .prepa{
        font-family: 'Nerko One', cursive;
        font-size: 200%;
        text-align: left;
        background-color: black;
        color: blueviolet;
    }
    .texto{
        font-family: 'Rubik Microbe', cursive;
        font-size: 100%;
    }
    .lista{
        font-family: 'Rubik Microbe', cursive;
        font-size: 100%;
        text-align: left;
        
    }
    .nave{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    .empa{
        font-family: 'Nerko One', cursive;
        background-color: rgb(239, 235, 240);
        color: rgb(39, 2, 74);
        font-weight: bold;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }

 }

 /*computadoras*/

@media(min-width: 991px) and (max-width: 2000px){
    body{
        font-family: 'Secular One', sans-serif;       
    }
    .titulo{
        font-family: 'Roboto', sans-serif;
    }
    .texto{
        font-family: 'Secular One', sans-serif;
        font-size: 150%;
    }
    .lista{
        font-family: 'Secular One', sans-serif;
    }
    .prepa{
        font-family: 'Secular One', sans-serif;
        text-align: justify;
    }
    .empa{
        font-family: 'Secular One', sans-serif;
        color: black;
    }
    .empa:hover{
        background-color: rgb(161, 161, 219);
        color: #c00c8a;
    }
    .logo{
        border-radius: 40%;
        width: 6vw;
    }
    .logo:hover{
        width: 7vw;
    }
    .arg:hover{
        width: 12vw;
    }
}

