
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
body{
    background:#FADBD8;
    font-family: sans-serif;   
    margin: 5px;
    background-image: url(../img/puente.jpg);
    
    background-repeat:repeat;
   
}

.titulo{
    background-color: blueviolet;
    color: rgb(17, 8, 26);
    font-size: 350%;
    text-decoration:underline;
    text-align: center;
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    
}
.receta{
    background-color: blueviolet;
    color: rgb(17, 8, 26);
    font-family: 'Courier New', Courier, monospace;
    text-decoration:underline;
    font-size: 250%;
    text-align: center;
    
}
.prepa{
    background-color: blueviolet;
    color: rgb(17, 8, 26);text-indent: 8em;
    text-align: justify;
    font-size: 200%;
    text-decoration: underline;
    font-family: 'Quattrocento Sans', sans-serif;
   
}
.texto{
    text-align: center;
    text-indent: 10%;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Quattrocento Sans', sans-serif;
   
}
.img{
    justify-content: center;
    
    width: 40vw;
    
}
.lista{
    font-size: 150%;
    font-weight: 400;
    text-align: left;
    display: flex;
    justify-content: space-between;   
    font-family: 'Archivo Narrow', sans-serif;
    
    
}
.contenedor{
   display: flex;
   margin: 0.2em;
   padding: auto;
  
    
}
.frame{
    margin: 0.1em;
    padding: 0.1em;
    height: 40vh;
    width: 35vw;
  
    
}
/*.copy{
    text-align: right;
    font-family: 'Quattrocento Sans', sans-serif;
    opacity: 1;
}
*/
    
a{
    text-align: right;
}

.nave{
    display: flex;   
    margin-top: auto;
    padding: 10px;
    border: 1px black solid;
    justify-content: space-between;
  
}
.empa{
    
    padding: 5px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    
    background-color: azure;
}
/*.what{
    width: 50px;    
    right: 20px;
    bottom: 20px;
    position: fixed;
 }*/
 .head{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 2px;
    align-items: center;
   
}
 .logo{
    width: 5vw;
    
    border-radius: 20%;
    justify-content: center;
 }
 .icon{
    width: 4vw;
    
 }
 .icon:hover{
    width: 5vw;
    background-color: black;
 }
 .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 .empa:hover{
    background-color: rgb(13, 13, 13);
    color: rgb(240, 231, 240);
    
 }